<form action="/payment/results" method="get">
  <div>
  <label for="user_apr" name="user_apr">APR</label>
  </div>
  <div>
  <input id="user_apr" name="user_apr" placeholder="E.g. 5.42">
  </div>
   <div>
  <label for="user_years" name="user_years">Number of years</label>
  </div>
  <div>
  <input id="user_years" name="user_years" placeholder="How many years to repay">
  </div>
   <div>
  <label for="user_pv" name="user_pv">Principal</label>
  </div>
  <div>
  <input id="user_pv" name="user_pv" placeholder="How much principal?">
  </div>
  <div>
  <button type="submit">Calculate monthly payment</button>
  </div>
</form>
