<form action="/random/results" method="get">
  <div>
  <label for="random_min" name ="user_min">Minimum</label>
  </div>
  <div>
  <input id="random_min" name="user_min" placeholder="E.g. 1.5">
  </div>
   <div>
  <label for="random_max" name ="user_max">Maximum</label>
  </div>
  <div>
  <input id="random_max" name="user_max" placeholder="E.g. 4.5">
  </div>
  <div>
  <button type="submit">Pick random number</button>
  </div>
</form>
