<form action="/square_root/results" method="get">
  <div>
  <label for="square_root" name="user_number">Enter a number</label>
  </div>
  <div>
  <input id="square_root" name="user_number" placeholder="What number do you want">
  </div>
  <div>
  <button type="submit">Calculate square root</button>
  </div>
</form>
