<form action="/square/results" method="get">
  <div>
  <label for="square" name="number">Enter a number</label>
  </div>
  <div>
  <input id="square" name="number" placeholder="What number do you want">
  </div>
  <div>
  <button type="submit">Calculate square</button>
  </div>
</form>
